    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function daysToMilliseconds(days) {
        return days * 24 * 60 * 60 * 1000;
    }

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('string', 'Resource');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');

        data.addRows([{% for task in tasks %}
        [
            '{{ task.task_id}}',
            '{{task.task_name}}',
            '{{task.resource_group}}',
            new Date({{task.start_date|split_ymd(ix=0)}}, {{task.start_date|split_ymd(ix=1)}}, {{task.start_date|split_ymd(ix=2)}}),
            new Date({{task.end_date|split_ymd(ix=0)}}, {{task.end_date|split_ymd(ix=1)}}, {{task.end_date|split_ymd(ix=2)}}),
            daysToMilliseconds({{task.duration}}),
            {{task.percent_complete}},
            {% if task.dependencies %}'{{task.dependencies}}'{% else %}null{% endif %}
        ],
        {% endfor %}]);

        var trackHeight = 50;

        var options = {
        height: data.getNumberOfRows() * trackHeight,
        gantt: {
            criticalPathEnabled: true,
            criticalPathStyle: {
                stroke: '#e64a19',
                strokeWidth: 5
            }
        }
        };

        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
    </script>